@font-face {
    font-family: Cardinal;
    src: url(./fonts/Cardinal.woff);
}

.infoWindow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  opacity: 0.5;
}

.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-family: 'Cardinal';
  text-align: center;
}

.toggle-btn {
  position: absolute;
  z-index: 1049;
  top: 50px;
  left: 10px;
}

.map {
  position: relative;
  width: 100%;
  height: 100%;
  border: 10px solid;
  border-image: url(./images/Map-Border.webp) 10 10 10 10 fill;
  background: #c3af7d;
}

/*
 * Visible only if the map couldn't load, a.k.a Offline network.
 */

.map:before {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  text-align: center;
  font-weight: 800;
  content: 'The map could not load. Please check your network.';
}

/*
* Marker's coordinates are at the top left corner of the image.
* This style places the marker so it can (visually) properly "point" to the location it refers to
*/

.marker {
  position: absolute;
  transform: translate(-50%, -100%);
  cursor: pointer;
  animation: bounce 1s ease-out;
}

.marker a,
.marker a:active,
.marker a:hover,
.marker a:link {
  outline: 0;
}

.side-wrap {
  width: 0px;
  height: 100%;
  background: url(./images/Side.webp) no-repeat;
  background-size: 100% 100%;
}

.side-wrap.toggle {
  width: 300px;
  z-index: 1;
}

.side-panel {
  height: 100%;
  overflow-y: auto;
  color: black;
  text-shadow: 1px 0 #999;
}

.input-label {
  display: none;
}

.search-input {
  display: block;
  margin: 10px auto;
}

.list-view {
  list-style-type: none;
  padding: 10px;
}

.list-view a,
.list-view a:active,
.list-view a:hover,
.list-view a:focus,
.list-view a:link {
  color: inherit;
  text-decoration: none;
}

.list-view-title {
  margin: 0 auto;
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list-view-item {
  padding: 5px;
  margin: 5px 0;
  font-family: 'Cardinal';
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
}

.list-view-item:hover {
  background-color: rgba(251, 252, 253, 153);
}

.back-to-top {
  font-size: 0;
}

@media screen and (max-width: 760px) {

  /*
   * Reverse the width of the side panel so it appears closed by default on smaller devices
   */

  .side-wrap {
    width: 300px;
  }

  .side-wrap.toggle {
    width: 0px;
  }
}

/*
 * Marker Bounce effect
 */

@keyframes bounce {
  0%, 5% {
  transform:translate(-50%, -200%);
    opacity: 0;
  }
  15%, 40%, 70%, 90%, 97% {
    transform:translate(-50%, -100%);
  }
  30% {
    transform:translate(-50%, -150%);
  }
  50% {
    transform:translate(-50%, -130%);
  }
  80% {
    transform:translate(-50%, -115%);
  }
  95% {
    transform:translate(-50%, -107%);
  }
  99% {
    transform:translate(-50%, -103%);
  }
  100% {
    transform:translate(-50%, -100%);
    opacity: 1;
  }
}